/Temperaturas/nbproject/private/
/Temperaturas/build/
/Temperaturas/dist/
/Sistema de Calculo de Média/nbproject/private/
/Sistema de Calculo de Média/build/
/Sistema de Calculo de Média/dist/
/SistemaDeMedia/nbproject/private/
/SistemaDeMedia/build/
/SistemaDeMedia/dist/