/Temperaturas/nbproject/private/
/Temperaturas/build/
/Temperaturas/dist/
/Sistema de Calculo de Média/nbproject/private/
/Sistema de Calculo de Média/build/
/Sistema de Calculo de Média/dist/
/SistemaDeMedia/nbproject/private/
/SistemaDeMedia/build/
/SistemaDeMedia/dist/
/ConsumoDeCombustivel/nbproject/private/
/ConsumoDeCombustivel/build/
/Verificador_de_Peso/nbproject/private/
/Verificador_de_Peso/build/
/ReceitasFinanceiras/nbproject/private/
/ReceitasFinanceiras/build/
/OrcamentoMensal/nbproject/private/
/OrcamentoMensal/build/
/DespesasMensal/nbproject/private/
/DespesasMensal/build/