@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.main-body{
    height: 100vh;
    width: 100%;
   background-image: linear-gradient(212deg, #2b007f, #424a9a, #4886b5, #35c4cf) ;
}


*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px auto;
    padding: 0px auto;
}

.navbar-top{
    width: 100%;
    height: 90px;
    background-color: #193C74;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
}

ul>h1{
    font-size: 35px;
    color: #FFF;
    margin: 25px 10px 0px 15px;
}

li{
    margin: 25px 10px 0px 15px;
    color: #FFF;
    font-size: 1.2rem;
    
    box-sizing: border-box;
    padding: 10px;
    border-radius: 22px;
    
    transition: 0.2s
}

li:hover{
    background-color: #2980b9; 
}

a{
        text-decoration: none;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-login{
    text-align: center;
    width: 300px;
    height: 340px;
    background-color: #FFF;
    
    margin-top: 50px;
    border-radius: 22px;
}

